body {
    margin-top: 0;
}
nav ul {
    display: flex;
    align-items: center;
    background-color: #F1F4FA;
    margin-top: 0;
}
nav ul li {
    list-style: none;
    margin-right: 2em;
    /* margin: 1em 1em; */
    border-radius: 5px;
    padding: 5px 10px;
}
nav li a {
    text-decoration: none;
    color: black;
}
nav li:hover {
    background-color: #ff284f;

}
nav li:hover a {
    color: white;
}